.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.player__timeControl {
  width: 50%;
  display: flex;
  align-items: center;
  input {
    width: 100%;
    cursor: pointer;

    // turn off style of slider
    -webkit-appearance: none;
    background: transparent;
  }

  p {
    padding: 1rem;
  }
}

.player__playControl {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40%;
  padding: 1rem;

  svg {
    cursor: pointer;
  }
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  // background: black;
}

.player__track {
  background: lightblue;
  width: 100%;
  height: 1rem;
  position: relative;

  overflow: hidden;
  border-radius: 1rem;

  // background: linear-gradient();
}

.player__animateTrack {
  background: rgb(204, 204, 204);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;

  transform: translateX(0%);
}

@media screen and (max-width: 768px) {
  .player__timeControl {
    width: 90%;
  }

  .player__playControl {
    width: 60%;
  }
}
